<?xml version="1.0"?>
<!--
  This defines how logging is configured throughout the SOW .NET applications. Great care needs to be taken
   if this file is edited by hand, as to not break the log4net logging ability. 
-->
<log4net>
  <!--
  RollingFile Appender
  -->
  <appender name="RollingFileAppender_APPLICATION" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\application.log" />
    <!--<file value="Logs\application.log"/>-->
    <!-- log file name -->
    <!--<rollingStyle value="Date"/>
    <datePattern value="MMddyyHHmmssfff"/>-->
    <appendToFile value="true" />
    <!-- does not overwrite the file -->
    <rollingStyle value="Size" />
    <!-- role file based on size -->
    <maximumFileSize value="50MB" />
    <!-- log file size before a roll occurs -->
    <maxSizeRollBackups value="-1" />
    <!-- unlimited number of files -->
    <staticLogFileName value="true" />
    <!-- log is static and log to same file name. additional names would be: application.log.1, application.log.2, etc -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{MM/dd/yy HH:mm:ss.fff} [%thread] %username %-5level %type %method - %message%newline%exception" />
    </layout>
  </appender>
  <!--
  EventLog Appender
  -->
  <appender name="EventLog_APPLICATION" type="log4net.Appender.EventLogAppender">
    <param name="LogName" value="Application" />
    <eventId value="7" />
    <eventCategory value="Application" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{MM/dd/yy HH:mm:ss.fff} [%thread] %username %-5level %type %method - %message%newline%exception" />
    </layout>
  </appender>
  <!--
  root settings
  -->
  <root>
    <level value="Debug" />
    <appender-ref ref="RollingFileAppender_APPLICATION" />
  </root>
  <!-- Use just one of these below, to set the logging level above (under the root element).
    <level value="ALL"/>
    <level value="DEBUG"/> 
    <level value="INFO"/>
    <level value="WARN"/>
    <level value="ERROR"/>
    <level value="FATAL"/> 
    <level value="OFF"/> -->
  <!-- Use any one or all of these to set logging destination(s) (under the root element). -->
  <!-- <appender-ref ref="RollingFileAppender_APPLICATION" /> -->
  <!-- <appender-ref ref="EventLog_APPLICATION" /> -->
</log4net>